body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #013220; /* Dark green, similar to poker tables */
}

.card {
  width: 100px;
  height: 140px;
  border-radius: 10px; /* Rounded edges for cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  background-image: url('./images/card-back.png'); /* A typical card back design */
  background-size: cover;
  cursor: pointer;
}

.deck, .discard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.discard {
  border: 2px dashed #ccc; /* Dashed border for empty discard pile */
}

.play-area {
  border: 2px dashed blue;
  height: 200px;
  width: 60%; /* Give more space for playing area */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
